@model NPEscuela.Models.Alumnos

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Desea eliminar a este Alumno?</h3>
<div>
    <h4>Alumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Alumnos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Alumnos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dirección)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirección)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corre_electronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corre_electronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_de_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_nacimiento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
